# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/

# Node / Frontend
node_modules/
dist/
.vite/

# Env files
.env
.env.*
frontend/.env.local

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/

# Deployment
.vercel/

# Local files
p.md
deploy.md
